:root{
 --main-color: red;
 --desktop-size: 1200px;
}


nav {
  max-width: var(--desktop-size);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
nav ul {
  display: flex;
  gap: 1em;
}
 
nav ul li {
  list-style: none;
}
 
nav ul li a {
  text-decoration: none;
  color: var(--main-color);
}
 
header {
  max-width: var(--desktop-size);
  margin: 0 auto;
}
 
header .header-container {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
header .header-container a {
  padding: 0.5em 2em;
  border: 1px solid var(--main-color);
  border-radius: 250px;
  text-decoration: none;
  color: var(--main-color);
}
 
.home {
    color: var(--main-color);
}
 
main {
  max-width: var(--desktop-size);
  margin: 0 auto;
}
 
main h2 {
    color: var(--main-color);
}