.book {
  perspective: 1000px;
  cursor: pointer;
  height: 550px;
  width: 300px; 
  margin: 20px;
}

.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.book.flipped .book-inner {
  transform: rotateY(180deg);
}

.book-front,
.book-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #7bedfa; 
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-front img {
  width: 40%;
  height: 30%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.book-back {
  transform: rotateY(180deg);
  background-color: #ffffff; 
  color: #333;
}

.book-back h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4a90e2;
}

.book-back p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
